
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  
  body {
  margin: 0;
  font-family: Century Gothic;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #212529;
  background-image: url(img/bg.png);
	}
  
  header {
    font-family: 'Raleway',
        sans-serif;
    background-color: lightseagreen;
    height: 15%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-top: 0;
    color: white;
    font-size: 15px;
	border-bottom: 3px solid lightskyblue;
	
}

footer {
    background-color: teal;
    padding: 1px;
    font-family: Century Gothic,
    sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
	clear:both;
	border-top: 3px solid lightskyblue;
}


  #kotakutama {
    max-width:50em;
      width:100%;
      margin:0 auto;
      position:relative;
	     /* Box Shadow */
    -webkit-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.3);
  }
  
  main {
	color:black;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 900px;
    margin-top: 0;
	
}

 aside {
	float:left;
	width:25%;
	text-align:center;
	border:1px;
	border-color:grey;
	padding-top:5px;
	
}

 #content {
	float:right;
	width:70%;
	padding: 10px;
	padding-right:20px;
}

article p::first-letter{
	color:teal;
	font-size:350%;
	line-height:60px;
	float:left;
	font-wheight:bold;
	padding-right:5px;
}

hr{
	color:blue;
	opacity:0.5;
	width:50%;
}

 #ikon {
display:flex;
flex-direction:row;
flex-wrap:nowrap;
align-items:flex-start;
	margin:auto;

}


 #gambar {
display:flex;
flex-direction:row;
flex-wrap:wrap;
align-items:flex-start;
	margin:auto;
	justify-content:space-between;
box-sizing:border-box;
padding-top:10px;
}

a{
margin:auto;
padding:0px;
}


img{
	margin:auto;
	width: 40%;
    height: 40%;
    border: 2px solid white;
    box-sizing: border-box;
	display:block;
}


a:hover {
    opacity: 0.5;
}

article{
	text-align:justify;
	padding-right:20px;
}

h2{
  font-family: Brush Script Std; }	
}

nav{
  font-family: Freestyle Script; }	
}


